body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #e0e0e0;
    scroll-behavior: smooth;
}

header {
    background: #1f1f1f;
    color: #e0e0e0;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: #333;
    color: #fff;
    border-radius: 5px;
}

section {
    padding: 100px 20px;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    transform: translateY(20px);
}

section.active {
    opacity: 1;
    transform: translateY(0);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('AS.jpeg') no-repeat center center/cover;
    filter: blur(5px) brightness(60%);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 2rem;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.hero h1,
.hero p {
    color: #e0e0e0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero .btn {
    background: #1e88e5;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.hero .btn:hover {
    background: #1565c0;
    color: #fff;
}

.about {
    background: #121212;
   
    color: #e0e0e0;
    padding: 4rem 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #e0e0e0;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content img.perfil {
    border-radius: 50%;
    width: 120px;
    /* Ajuste da largura */
    height: 120px;
    
    object-fit: cover;
    border: 4px solid #202122;
    
}

.about-text {
    text-align: center;
    max-width: 800px;
}

.about-text p {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #b0b0b0;
}

@media (min-width: 768px) {
    .about-content {
        flex-direction: row;
        justify-content: center;
    }

    .about-text {
        text-align: left;
    }

    .about-content img.perfil {
        width: 150px;
        /* Ajuste da largura para telas maiores */
        height: 150px;
        /* Ajuste da altura para telas maiores */
    }
}
.projects {
    background: #1f1f1f;
    padding: 5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.projects h2 {
    font-size: 2.5rem;
    color: #e0e0e0;
    margin-bottom: 2rem;
    text-align: center;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* Espaçamento uniforme entre os cartões */
}

.project {
    background: #333;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Alinha verticalmente */
    justify-content: space-between; /* Espaça o conteúdo de forma uniforme */
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

.project:hover {
    transform: scale(1.05); /* Aumenta o tamanho do cartão no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
}

.project img {
    width: 100%;
    height: 150px; /* Altura fixa para consistência */
    object-fit: cover;
    border-radius: 10px;
}

.project h3 {
    margin: 1rem 0;
    color: #5a9cd6;
}

.project p {
    text-align: justify;
    margin-bottom: 1rem;
    color: #e0e0e0;
}

.project .video-thumbnail {
    position: relative;
    margin-bottom: 1rem; /* Espaço entre a thumbnail e o conteúdo abaixo */
}

.project .video-thumbnail img {
    width: 100%;
    height: 150px; /* Altura fixa para manter a consistência */
    object-fit: cover;
    border-radius: 10px;
}

.project .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.video-thumbnail:hover .play-button {
    background: rgba(0, 0, 0, 0.8);
}

/* Ajusta o botão "Ver Projeto" */
.project-link {
    display: inline-block;
    background: #244e72; /* Verde para destacar o botão */
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.project-link:hover {
    background: #244e72; /* Tom mais escuro ao passar o mouse */
}


.contact {
    background: #1f1f1f;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.skills h2,
.contact h2 {
    font-size: 2.5rem;
    color: #e0e0e0;
    margin-bottom: 2rem;
    text-align: center;
}
.skills {
    background: #1f1f1f;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.skills h2 {
    font-size: 2.5rem;
    color: #e0e0e0;
    margin-bottom: 2rem;
    text-align: center;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* Espaçamento uniforme entre os cartões */
}

.skill-card {
    background: #333;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
    color: #e0e0e0;
}

.skill-card i {
    font-size: 3rem;
    color: #1e88e5;
    margin-bottom: 1rem;
}

.skill-card h3 {
    margin: 1rem 0;
    color: #5a9cd6;
    font-size: 1.5rem;
}

.skill-card p {
    font-size: 1rem;
    color: #b0b0b0;
}

.skill-card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do cartão no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
}/* Estilo para a seção de contato com tema escuro */
.contact {
    padding: 5rem;
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Texto claro */
    text-align: center;
}

.contact h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #e0e0e0; /* Cor clara para o título */
}

.contact p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #b0b0b0; /* Cor um pouco mais escura para o parágrafo */
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-links a {
    text-decoration: none;
    color: #e0e0e0; /* Cor clara para os ícones */
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
}

.social-links a:hover {
    color: #1da1f2; /* Cor de destaque para LinkedIn */
    transform: scale(1.1);
}

.social-links a:nth-of-type(2):hover {
    color: #238b75; /* Cor de destaque para GitHub */
}

.social-links a:nth-of-type(3):hover {
    color: #e94e77; /* Cor de destaque para Email */
}

.social-links i {
    margin-right: 0.5rem;
}


footer {
    background: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}